<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
        <div class="row gx-md-8 gy-10 align-items-center">
            <div class="col-lg-6 offset-lg-1 order-lg-2 position-relative">
                <figure class="rounded"><img class="img-fluid" src="{{ resolvedImgUrl }}" alt="" /></figure>
            </div>
            <div class="col-lg-5">
                <h2 class="fs-16 text-uppercase text-gradient gradient-8 mb-3">{{ aboutUsPageData.data.attributes.aboutUsMainContentComponent?.label }}</h2>
                <h3 class="display-4 mb-4 me-lg-n5">{{ aboutUsPageData.data.attributes.aboutUsMainContentComponent?.title }}</h3>
                <p class="mb-6 description">{{ aboutUsPageData.data.attributes.aboutUsMainContentComponent?.description }}</p>
            </div>
        </div>
    </div>
</section>