.blm {
  width: 100%;
  height: 100%;
}

.card {
  .card-header {
    background-color: #0b0a09;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
}

.blm-section-image {
  img {
    width: 100%;
  }
}
