@if (data$ | async; as page) {
    <sb-header [title]="page.data?.attributes?.headerTitle!"></sb-header>
    <section class="wrapper bg-light wrapper-border">
        <div class="container pt-14 pt-md-16 pb-13 pb-md-15">
            <div class="row">
                <div class="col-lg-12 offset-lg-1">
                    <article>
                        <h2 class="display-6 mb-4">
                            {{ page.data?.attributes?.title }}
                        </h2>
                        <div class="row gx-0">
                            <div class="col-md-10 text-justify">
                                <p class="description" [innerHTML]="page?.data?.attributes?.mainDescription"></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper bg-gray">
        <div class="container pt-14 pt-md-16 pb-9 pb-md-11">
            <figure class="rounded">
                <video class="video" id="plyrID" controls playsinline width="100%">
                    <source
                            src="{{ page.data?.attributes?.video.data.attributes.url }}"
                            type="video/mp4"
                    />
                </video>
            </figure>
        </div>
    </section>
}