@import "src/assets/styles/_grid.scss";
@import "bootstrap/scss/mixins";
@import "src/assets/styles/_colors.scss";

.sb-header-section {
  height: 400px;
  background: $sb-dark-blue;

  @include media-breakpoint-down(md) {
    height: 300px;
  }

  &__title {
    margin-top: 50px;

    h1 {
      color: $sb-white;
      font-weight: bold;
      font-size: 2.8rem;
      //border-left: 4px solid rgb(0, 98, 255);

      @include media-breakpoint-down(md) {
        font-size: 1.6rem;
      }
    }

    @include media-breakpoint-down(md) {
      margin-top: 100px;
    }
  }
}
