.cutting-option-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.table {
  tbody {
    td {
      font-size: 14px;
      width: fit-content;
    }
  }
}

.description {
  white-space: pre-line;
}