<div class="row sb-basic-info-section">
    <div class="col-lg-4 col-sm-12 sb-basic-info-section--block ">
        <div class="numbers">{{ data.data.attributes.homepageBasicInfoComponent?.yearsNumber }}</div>
        <div class="label">{{ data.data.attributes.homepageBasicInfoComponent?.yearsLabel }}</div>
    </div>
    <div class="col-lg-4 col-sm-12 sb-basic-info-section--block ">
        <div class="numbers">{{ data.data.attributes.homepageBasicInfoComponent?.industriesNumber }}</div>
        <div class="label">{{ data.data.attributes.homepageBasicInfoComponent?.industriesLabel }}</div>
    </div>
    <div class="col-lg-4 col-sm-12 sb-basic-info-section--block ">
        <div class="numbers">{{ data.data.attributes.homepageBasicInfoComponent?.soldProductsNumber }}</div>
        <div class="label">{{ data.data.attributes.homepageBasicInfoComponent?.soldProductsLabel }}</div>
    </div>
</div>
