<section class="wrapper bg-dark">
    <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-12">
                <h3 class="display-2 title-white mb-6 pe-xxl-6">{{ blmSoftwarePageData.data?.attributes?.blmSoftwareSectionTwoComponent?.title }}</h3>
                <p class="subtitle-white">{{ blmSoftwarePageData.data?.attributes?.blmSoftwareSectionTwoComponent?.subtitle }}</p>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <sb-blm-software-card [cardData]="blmSoftwarePageData.data?.attributes?.blmCardWithImageOne!" [image]="blmSoftwarePageData.data?.attributes?.cardImageOne"></sb-blm-software-card>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <sb-blm-software-card [cardData]="blmSoftwarePageData.data?.attributes?.blmCardWithImageTwo!" [image]="blmSoftwarePageData.data?.attributes?.cardImageTwo"></sb-blm-software-card>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <sb-blm-software-card [cardData]="blmSoftwarePageData.data?.attributes?.blmCardWithImageThree!" [image]="blmSoftwarePageData.data?.attributes?.cardImageThree"></sb-blm-software-card>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <sb-blm-software-card [cardData]="blmSoftwarePageData.data?.attributes?.blmCardWithImageFour!" [image]="blmSoftwarePageData.data?.attributes?.cardImageFour"></sb-blm-software-card>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <sb-blm-software-card [cardData]="blmSoftwarePageData.data?.attributes?.blmCardWithImageFive!" [image]="blmSoftwarePageData.data?.attributes?.cardImageSix"></sb-blm-software-card>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                        <sb-blm-software-card [cardData]="blmSoftwarePageData.data?.attributes?.blmCardWithImageSix!" [image]="blmSoftwarePageData.data?.attributes?.cardImageSix"></sb-blm-software-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>