<section class="wrapper bg-gradient-navy">
  <div class="container py-14 py-md-16">
    <div class="row mb-8">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="fs-16 text-uppercase text-primary mb-3">
          {{ data.data.attributes.callToActionComponent?.headerLabel }}
          <div class="head"></div>
        </h2>
        <h3 class="display-4 mb-0">
          {{ data.data.attributes.callToActionComponent?.content }}
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 justify-content-center d-flex mx-auto">
        <a
          routerLink="/contact-us"
          class="btn btn-lg sb-btn btn-icon btn-icon-end"
          >{{ data.data.attributes.callToActionComponent?.buttonLabel }}</a
        >
      </div>
    </div>
  </div>
</section>
