@if (data) {
  <section class="wrapper" [ngStyle]="{ background: data.backgroundColor }">
    @if (!!data.imagePositionedLeft) {
      <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-md-8 col-lg-6 col-xl-5 position-relative">
            <div
              class="shape bg-soft-primary rounded-circle rellax w-20 h-20"
              data-rellax-speed="1"
              style="top: -2rem; right: -1.9rem"
            ></div>
            <figure class="rounded">
              <img [src]="image.data.attributes.url" alt="" />
            </figure>
          </div>
          <div class="col-lg-6">
            <h2 class="display-4 mb-3">{{ data.heading }}</h2>
            <p class="mb-6">{{ data.description }}</p>
          </div>
        </div>
      </div>
    } @else {
      <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-6">
            <h2 class="display-4 mb-3">{{ data.heading }}</h2>
            <p class="mb-6">{{ data.description }}</p>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-5 order-lg-2 position-relative">
            <div
              class="shape bg-soft-primary rounded-circle rellax w-20 h-20"
              data-rellax-speed="1"
              style="top: -2rem; right: -1.9rem"
            ></div>
            <figure class="rounded">
              <img [src]="image.data.attributes.url" alt="" />
            </figure>
          </div>
        </div>
      </div>
    }
  </section>
}
