<section class="wrapper sb-homepage-cta bg-lines">
    <div class="container py-15 py-md-17 text-center">
        <div class="row">
            <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto text-center">
                <h2 class="fs-16 text-uppercase text-white mb-3">{{ data.data.attributes.homepageCta?.label }}</h2>
                <h3 class="display-3 text-white mb-6">{{ data.data.attributes.homepageCta?.mainText }}</h3>
                <a routerLink="/contact-us" class="btn btn-white">{{ data.data.attributes.homepageCta?.ctaButtonLabel }}</a>
            </div>
        </div>
    </div>
</section>
