.sb-basic-services {
  &__card {
    &-body {
      //background-size: cover;
      //background: url("../../../../assets/media/img/laser2.jpg") no-repeat center;
      background: #0d2067;
      .title,
      .description {
        color: #fff;
      }
    }

    &-body:hover {
      background: #0b0a09;
      transition: ease-in-out 0.2s;
    }
  }
}
