.card {
  background-color: transparent;
  border: 1px solid #fff;
  margin-top: 50px;
  .card-header {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.title-left {
  font-weight: bold;
}

.display-2 {
  color: #fff;
}

.card-text {
  color: #fff;
}
