<section class="wrapper bg-dark pt-10 pb-10">
    <div class="container pt-5 pb-5 position-relative">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="display-2 title-white mt-5">
                    {{ pageData.data?.attributes?.sectionThreeTitle }}
                </div>
            </div>
            @for (card of pageData.data?.attributes?.blmCardSectionThreeComponent; track card) {
                <div class="col-lg-3 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            {{ card.title }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ card.content }}</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>